*{
  outline:none !important;
}
/* These settings are for displaying Search bar and Search Button In One Line*/
#searchBox{
  width: 79%;
  display:inline-block;
  float: left;
  margin-right: 1%;
}
#searchBtn{
  width: 19%;
  display:inline-block;
  margin-left: 1%;
  float: right;
}
